body{
    font: 20px Calibri;
}
.navbar{
    background-color: #A4A4A4;
}

.quem-somos{
    background-color: #BDBDBD;
}

.margin{
    padding-top: 30px;
    padding-bottom: 20px;
}

.parceiros{
    background-color: skyblue;
}

.servicos{
    background-color: blueviolet;
}

.bg-footer{
    background-color: cadetblue;
}